<div>Is Browser? {{ isBrowser }}</div>

<!-- RENDER SERVER/CLIENT CONTENT USING @if{}@else{} SYNTAX -->

@if(isBrowser) {
<div style="color: purple">RENDERED IN BROWSER USING "&#64;if"</div>
} @else {
<div style="color: green">RENDERED ON SERVER USING "&#64;else"</div>
}

<!-- RENDER SERVER/CLIENT CONTENT USING *ngIf;else SYNTAX -->

<div *ngIf="isBrowser; else servTpl" style="color: orange">
  RENDERED IN BROWSER USING "*ngIf"
</div>

<ng-template #servTpl>
  <div style="color: red">RENDERED ON SERVER USING ";else"</div>
</ng-template>

<router-outlet></router-outlet>
